- python installation

- variables 

- data type 

- type casting

- packages

$print$

In [1]:
a=20
a

20

In [2]:
print(a)

20

In [5]:
a=20
b=30
a
b
a
b

30

In [7]:
a=50
b=100
print(a)
print(b)

50
100

In [8]:
# I want to print
# hai how are you

print("hai how are you")

hai how are you

In [9]:
name="python"
# what is name here 
# name is a variable
print(name)

python

In [10]:
# my name is python
print("my name is python")
# what ever you write in red /quotes it will print

my name is python

In [12]:
print("my name is",name)

my name is python

In [15]:
name="python"
print("my name is python")
print("my name is","python")
print("my name is",name)

my name is python
my name is python
my name is python

In [18]:
num1=30
# the value of num1 is 30
print("the value of num1 is 30")
print("the value of num1 is",num1)

the value of num1 is 30
the value of num1 is 30

In [20]:
# the value of num1 is : 30
print("The value of num1 is:",num1)

The value of num1 is: 30

In [21]:
# hai
# how are you
print("hai")
print("how are you")

hai
how are you

I want to combine multiple print statements

$end$

In [30]:
print("hai",end='*****')
print("how are you")

#haihow are you

hai*****how are you

In [ ]:
# hai
# how
# are
# you

# hai how are you

In [34]:
print('hai',end=' ')
print('how',end=' ')
print('are',end=' ')
print("you")

hai how are you

In [42]:
number1=100
number2=500
add=number1+number2
add

# the addition of 100 and 500 is 600

600

In [43]:
print("The addition of ", number1, "and", number2, " is", number1+number2) 
print("The addition of ", number1, "and", number2, " is", add)

The addition of  100 and 500  is 600
The addition of  100 and 500  is 600

In [39]:
print("the addition of number1 and number2",add)
print('the addition of 100 and 500 is',add)

the addition of number1 and number2 6000
the addition of 100 and 500 is 6000

In [45]:
a=20
b=30
mul=a*b
# the multiplication of 20 and 30 is 600
print("The multiplication of",a,"and",b,"is",mul)
print("the multiplication of", a,b,"is", mul)
print("The multiplication of",a ,"and", b,"is",mul)

The multiplication of 20 and 30 is 600
the multiplication of 20 30 is 600
The multiplication of 20 and 30 is 600

In [48]:
a=20
b=30
mul=a*b
# the multiplication of 20 and 30 is 600
print("the multiplication of 20 and 30 is 600")
# 20 
# 30
# 600
# assume that fill in the blanks
print("the multiplication of {} and {} is {}".format(a,b,mul))

the multiplication of 20 and 30 is 600
the multiplication of 20 and 30 is 600

In [51]:
number1=100
number2=200
add=number1+number2
# what you want to print
# the addition of 100 and 200 is 300
print("the addition of {} and {} is {}".format(add,number1,number2))

the addition of 300 and 100 is 200

In [54]:
name='python'
city='hyd'
age=30

# my name is python, i leaves in hyd and my age is 30

In [57]:
print("my name is {} ,I leavesin{}and my age is{}".format (name,city,age))
print("My name is {}, I live in {} and my age is{}".format(name,city,age))
print("my name is {}, i lives in {} and my age is {}".format(name,city,age))
print("my name is {}, I leaves in {} and my age is {}".format(name,city,age))
print("my name is {},I leaves in {} and my age is{}".format(name,city,age))

my name is python ,I leavesinhydand my age is30
My name is python, I live in hyd and my age is30
my name is python, i lives in hyd and my age is 30
my name is python, I leaves in hyd and my age is 30
my name is python,I leaves in hyd and my age is30